@import "bootstrap.less";
@import "adaptive.less";
@import "topbar.less";
@import "secondbar.less";
@import "comments.less";
@import "headings.less";
@import "editor_buttons.less";
@import "sidebar.less";

.cmd_username,
.cmd_password {
    font-weight: bold;
    color: #699ac8;
}
.cmd_var {
    font-weight: bold;
    color: #31d055;
}

#details_sidebar {
    margin-top: 1em;
    width: 200px;
    margin-right: 20px;
}

.no_screenshot {
    width: 200px;
    height: 125px;
    background: #ccc;
    position: relative;
}
.no_screenshot div {
    background: #999;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    width: 200px;
}

.install_actions {
    margin: 2em 0 1em 0;
}
