@import "bootstrap.less";
@import "adaptive.less";
@import "topbar.less";
@import "secondbar.less";
@import "comments.less";
@import "headings.less";
@import "editor_buttons.less";
@import "sidebar.less";

.cmd_username,
.cmd_password {
    font-weight: bold;
    color: #699ac8;
}
.cmd_var {
    font-weight: bold;
    color: #31d055;
}

#details_sidebar {
    margin-top: 1em;
    width: 200px;
    margin-right: 20px;
}

.no_screenshot {
    width: 200px;
    height: 125px;
    background: #ccc;
    position: relative;
}
.no_screenshot div {
    background: #999;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    width: 200px;
}

.install_actions {
    margin: 2em 0 1em 0;
}

.container {
    position: relative;
}
.stones {
    background-image: url(../img/stones.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 100px;
    width: 353px;
    position: absolute;
    right: 0;
    bottom: -10px;
}

ul.apps {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.apps li {
    float: left;
    padding: 5px;
    margin-right: 7px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    .border-radius(3px);
    .box-shadow(inset 0 1px 1px white);
}
ul.apps li .name {
    font-weight: bold;
    color: #666;
    text-shadow: 0 1px 0 white;
}
ul.apps li a {
    display: block;
    text-decoration: none;
}
ul.apps li a:hover .name {
    color: #333;
}
ul.apps li:hover {
    background-color: #eee;
    border: 1px solid #bbb;
}
