<div id="secondbar" class="app_details">
  <div class="container">
    <div class="row">
      <div class="span2">
        <img src="{{baseURL}}/_db/{{id}}/{{icon_96}}" width="96" />
      </div>
      <div class="span9">
        <h1>{{title}}</h1>
        <ul class="inline_categories">
          {{#each meta.config.categories}}
            <li><a href="{{baseURL}}/category/{{this}}">{{this}}</a></li>
          {{/each}}
        </ul>
        <span class="author">
          By <a href="#">{{meta.pushed_by}}</a>
        </span>
        <span class="updated">
          Updated {{updated}}
        </span>
      </div>
      <div class="span4 install_actions">
        <a class="btn" href="{{baseURL}}">Home</a>
        <a class="btn primary install_btn" href="#">Install</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span11">
        <div id="screenshot_container">
          <div class="loading">Loading&hellip;</div>
        </div>
      </div>

      <div id="details_sidebar" class="span5">
        <h4>{{meta.config.description}}</h4>
        {{#each long_description_paragraphs}}
          <p>{{this}}</p>
        {{/each}}
        {{#if meta.config.url}}
          <p><a href="{{meta.config.url}}">Website</a></p>
        {{/if}}
        <!--
        <h4>Manual install</h4>
        <pre>curl {{install_script_url}} | bash</pre>
        <p>You may want to <a rel="external" href="{{install_script_url}}">read the script</a> first.</p>
        <hr/>
        -->
      </div>

    </div>
  </div>
</div>
