<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span10">
        <h1>{{doc.kanso.name}}</h1>
        <p>{{doc.kanso.description}}</p>
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">
        <h4>Manual install</h4>
        <pre>curl {{install_script_url}} | bash</pre>
        <p>You may want to <a rel="external" href="{{install_script_url}}">read the script</a> first.</p>
      </div>

      <div id="sidebar" class="span4">
      </div>

    </div>
  </div>
</div>
