<div id="secondbar">
  <div class="container">
    <div class="stones"></div>
    <div class="row">
      <div class="span10">
        <h1>Kanso Garden</h1>
        <p>A place for sharing and discovering CouchApps</p>
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">
        {{{include "app_list.html"}}}
      </div>

      <div id="sidebar" class="span4">
        <ul class="menu">
          <li class="active"><a href="{{baseURL}}">Home</a></li>
          <li><a href="{{baseURL}}/upload_app">Upload app</a></li>
        </ul>
        <ul id="categories" class="menu">
          <li><a href="{{baseURL}}/all">All</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
