<div id="install_options">
  <div id="manual_install">
    <h2>Manual Install</h2>
    <img src="{{baseURL}}/static/img/manual_install.png" alt="Manual install" />
    <p>Manually install to a CouchDB without a Dashboard</p>
  </div>
  <div id="install_to_dashboard">
    <h2>Install to Dashboard</h2>
    <img src="{{baseURL}}/static/img/install_to_dashboard.png" alt="Install to dashboard" />
    <p>Install to an existing Dashboard<br/><a href="{{baseURL}}/help/dashboard">Learn more</a></p>
  </div>
</div>
