<div id="secondbar">
  <div class="container">
    <div class="stones"></div>
    <div class="row">
      <div class="span10">
        <h1>Kanso Garden</h1>
        <p>A place for sharing and discovering CouchApps</p>
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="upload_instructions span11">
        <h2>Uploading an app</h2>
        <p>
          If you don't already have an account on this site, you'll need to create
          one before uploading an app to the Garden. Make sure you're using Kanso
          0.1.4 or higher, then use the following command to upload your app:
        </p>
        <pre>kanso push {{upload_url}}</pre>

        <hr/>

        <h2>Required properties</h2>
        <p>
          Before uploading an app to the Garden, you need to ensure you provide
          the following properties in your <code>kanso.json</code> file.
        </p>

        <h4>Icons</h4>
        <h4>Categories</h4>
        <h4>Descriptions</h4>
        <h4>Promo images</h4>
        <h4>Screenshots</h4>
      </div>

      <div id="sidebar" class="span4">
        <ul class="menu">
          <li><a href="{{baseURL}}">Home</a></li>
          <li class="active"><a href="{{baseURL}}/upload_app">Upload app</a></li>
        </ul>
        <ul id="categories" class="menu">
          <li><a href="{{baseURL}}/all">All</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
