<div id="secondbar">
  <div class="container">
    <div class="stones"></div>
    <div class="row">
      <div class="span10">
        <h1>Kanso Garden</h1>
        <p>A place for sharing and discovering CouchApps</p>
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">
        <p>Adding an app:</p>
        <pre>kanso push {{upload_url}}</pre>
      </div>

      <div id="sidebar" class="span4">
        <ul class="menu">
          <li><a href="{{baseURL}}">Home</a></li>
          <li class="active"><a href="{{baseURL}}/upload_app">Upload app</a></li>
        </ul>
        <ul class="menu">
          <li><a href="#">All</a></li>
          <li><a href="#">Productivity</a></li>
          <li><a href="#">Social</a></li>
          <li><a href="#">Utilities</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
